- if (current_broker.present? || current_provider.present?)
  .vacation-bar.js-organization{data: {id: current_broker.selected_organization_id, name: "Alle Organisationen"}, style: "display: none"}
    Die
    %span.js-organisation-name
      Alle Organisationen
    Organisation hat Feiertage von
    %span.js-org-start-date
      test
    bis
    %span.js-org-end-date
      test2
= render partial: "table"